/********** GuyKat CSS START **********/
#doc-page-43 .pages-widget-page,
#doc-page-43 .widget-render,
#doc-page-43 .widget-render-column {
    margin:  0!important;
    padding: 0;
    max-width: 100%;
    width: 100%;
    overflow-x: hidden !important;
    
}

#doc-page-43 .widget-render-row:nth-child(2){
    max-width: 1500px!important;
    margin: 0 auto;
    flex-wrap: nowrap;
    gap: 32px;
}



/********** Global Styling START **********/

/**Colour variables **/
:root {
/* docebo overwrites */
--heiro-color-layout-background: #fff!important;

/* custom additions */
--heiro-custom-pink: #eecada;
--heiro-custom-pink-opacity:#f0b3ce88; /* opacity */
--heiro-custom-orange: #EB816D;
--heiro-custom-light-orange: #FFA797;
--heiro-custom-light-purple : #7771D6;      
}

/********** Global Styling END **********/









/********** Docebo Top Bar START **********/

.internal-header-logo-link {
    background-image: url('https://cdn1.dcbstatic.com/files/m/e/megslms_docebosaas_com/userfiles/13088/Bahar Assests/logo_fotor_bg_remover_20240415155051.png');
}

/*** page title hidden ***/
#doc-layout-title-bar {
    display: none;
}

#doc-layout-breadcrumbs {
    background-color: pink!important;

}
/********** Docebo Top Bar END **********/










/********** Home Page 2024 START **********/

/********** Entire Page START **********/

#doc-page-43 .widget-render {
    background-color: white;
}

/********** Entire Page END **********/










/********** Nav Bar START **********/
#doc-page-43 {
   z-index: 2; 
}

#doc-page-43 .htmlwidget .content {
overflow-y: visible;
}

.bs-nav-bar {
margin: auto;
background-color: var(--heiro-custom-pink);
position: relative;
width: 100%;
height: 30px;
display: flex;
justify-content: center;
gap: 20px;
color: black;
text-align: center;
z-index: 1;
}

.bs-nav-bar a {
color: black;
text-decoration: none;
}

.bs-nav-bar .normal-link,
.bs-nav-bar .dropdown-title {
padding: 0 10px;
height: 30px; /*must be same as nav bar itself*/
}

.bs-nav-bar .normal-link,
.bs-nav-bar .dropdown-title,
.bs-dropdown a {
display: flex;
flex-direction: column;
justify-content: center;
}

.bs-nav-bar a:hover {
background-color: var(--heiro-custom-light-orange);
}

.dropdown-title {
position: relative;
}

.bs-dropdown {
position: absolute;
left: -5px;
top: 31px; 
display: none;
width: fit-content;
min-width: 100%;
background-color: var(--heiro-custom-pink);
}

.dropdown-title:hover .bs-dropdown {
display: block; 
}

.bs-nav-bar .bs-dropdown a {
min-height: 25px;
height: fit-content;
min-width: 100%;
width: fit-content;
text-decoration: none;
color: black;
box-sizing: border-box;
padding: 5px;
}
/********** Nav Bar END **********/









/********** Carousel START **********/
.container-bs43 {
    max-width: 100%;
    height: auto;
    padding-top: calc(20.83% - 30px);
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 0; 
}

.container-bs43  *:nth-last-child(2) {
    margin-right: 25px;
}

.container-bs43  input {
    z-index: 5;
    margin-bottom: 15px;
    visibility: hidden;
    position: relative;
    width: 15px;
    height: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
}

.container-bs43 input:before {
    content: '';
    position: absolute;
    visibility: visible;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.101);
    border: 3px solid white;
    border-radius: 50%;
   
}

.container-bs43  input:checked:before {
    background: var(--heiro-custom-orange);
    border-radius: 50%;
}

.container-bs43  input:checked+.slide {
    z-index: 2;
    opacity: 1;
    transition: opacity .5s ease;
}

.slide {
    opacity: 0;
    transition: opacity .5s ease;

}

.container-bs43 .slide img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/********** Carousel END **********/









/********** MCLP START **********/

#doc-page-43 .my-courses-and-learning-plans-content-wrapper .ui-cards-grid-wrapper {
    display: flex;
    position: relative;
    max-height: 330px;
    max-width: 1000px;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    padding: var(--ui-spacing-sm) 0;
}

/* Scrollbar */
#doc-page-43 .my-courses-and-learning-plans-content-wrapper .ui-cards-grid-wrapper::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

#doc-page-43 .my-courses-and-learning-plans-content-wrapper .ui-cards-grid-wrapper::-webkit-scrollbar-track {
    background: var(--heiro-custom-orange);
    border: 5px solid white;
}

#doc-page-43 .my-courses-and-learning-plans-content-wrapper .ui-cards-grid-wrapper::-webkit-scrollbar-thumb {
    background-color:  var(--heiro-custom-orange);
    border-radius: 10px;
}


#doc-page-43 .ui-cards-grid-slot {
    min-width: 250px;
}

#doc-page-43 .my-courses-and-learning-plans-total-count {
    display: none;
}

/********** MCLP END **********/










/********** Catalog START **********/

#doc-page-43 .ui-carousel-items-wrapper {
    display: flex;
    position: relative;
    max-height: 330px;
    max-width: 1000px;
    flex-direction: row;
    overflow-x: auto!important;
    overflow-y: hidden;
    padding: var(--ui-spacing-sm) 0;
}

/* Scrollbar  */
#doc-page-43 .ui-carousel-items-wrapper::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

#doc-page-43 .ui-carousel-items-wrapper::-webkit-scrollbar-track {
    background: var(--heiro-custom-orange);
    border: 5px solid white;
}

#doc-page-43 .ui-carousel-items-wrapper::-webkit-scrollbar-thumb {
    background-color:  var(--heiro-custom-orange);
    border-radius: 10px;
}



#doc-page-43 .dcb-ui-carousel-item {
    min-width: 250px;
}

#doc-page-43 .ui-carousel-header {
    display: none;
}

/********** Catalog END **********/









/********** Profile START **********/

/*** width setting ***/
#doc-page-43 .mdl-cell--4-col {
    width: 60%;
}

#doc-widget-304 {
    width: 515px;
    padding-left: 25px;
}

/*** color & structure ***/
#doc-page-43 .ng-star-inserted .profile {
   background-color: var(--heiro-custom-light-orange);
   display: flex; 
   gap: 30px; 

}

#doc-page-43 .details-container {
    color: black;
    padding: 20 20 0 50;
    font-size: 18px;
}


#doc-page-43 .widget-actions-container {
    background-color: var(--heiro-custom-light-orange);
    padding-bottom: 20px;
    border-top: hidden;
}

#doc-page-43 .mdl-button {
    border: 2px solid black;
    margin-right: 50px;
    
}

/*** Profile img size ***/
#doc-page-43 .avatar__initials {
    width: 100px!important;
    height: 100px!important;
    margin-top: 10px;
    background-image: url("https://cdn1.dcbstatic.com/files/m/e/megslms_docebosaas_com/userfiles/13088/Bahar Assests/mainimage1.png")!important;    
    background-size: 110px!important;
    
}

.avatar__initials .ng-star-inserted {
    visibility: hidden;
    
}

/********** Profile END **********/









/********** Activity Start **********/

#doc-widget-305 {
    
    .widget-activity  {
        min-height: 50px; 
        max-height: 70px;
    }
    
   .donut-chart-canvas-content {
       display: none;
   }

   .legend-title-holder {
       display: none;
   }
    .bullet-color {
        display: none;
    }
    
    .social-activities {
        display: none;
    }
    
    .donut-chart-item  {
        display: inline;
        padding: 10px 22px;
        margin-right: 30px;

        
    }
    
   .donut-chart-item:nth-child(1) {
            border: 2px solid var(--heiro-custom-pink-opacity);
    }
  .donut-chart-item:nth-child(2) {
            border: 2px solid var(--heiro-custom-light-orange);
    }
  .donut-chart-item:nth-child(3) {
            border: 2px solid var(--heiro-custom-light-purple);
    }

    .donut-chart-wrapper {
        justify-content: left;
        overflow: visible;
        padding-top: 50px;
    }
    
    .widget-body {
        padding-left: 0;
    }
    
    .widget-activity {
        box-shadow: none;
    }
    
    .widget-full {
        height: 100px;
    }
    
}





/********** Activity END **********/











/********** My Course Button Start **********/

#doc-widget-321 {
    
    .btnpage23 {
       background-color: var(--heiro-custom-light-orange);
        border: 0;
        padding: 20px 205px;
        color: white;
    }
    
    .content {
        padding-left: 30px;
         
    }
}

/********** My Course Button END **********/











/********** Home Page 2024 END **********/

/********** GuyKat CSS END **********/






