/********** GuyKat CSS START **********/
#doc-page-43 .pages-widget-page,
#doc-page-43 .widget-render,
#doc-page-43 .widget-render-column {
    margin:  0!important;
    padding: 0;
    max-width: 100%;
    width: 100%;
    overflow-x: hidden !important;
    
}

#doc-page-43 .widget-render-row:nth-child(2){
    max-width: 1500px!important;
    margin: 0 auto;
    flex-wrap: nowrap;
    gap: 32px;
}

#doc-page-43 .widget-render-row:nth-child(3){
    max-width: 1500px!important;
    margin: 0 auto;
    flex-wrap: nowrap;
    gap: 32px;
}

/********** Global Styling START **********/

/* Colour variables */
:root 
{
/* docebo overwrites */
--heiro-color-layout-background: #fff!important;

/* custom additions */
--heiro-custom-pink: #F0B3CE;
--heiro-custom-pink-opacity:#f0b3ce88; /* opacity */
--heiro-custom-orange: #EB816D;
--heiro-custom-light-orange: #FFA797;
--heiro-custom-light-purple : #7771D6;      
}


/********** Global Styling END **********/









/********** Docebo Top Bar START **********/

/*** page title hidden ***/
#doc-layout-title-bar {
    display: none;
} 

.doc-layout-internal-header {
    background-color: white;
}

#doc-layout-breadcrumbs {
    background-color: pink!important;

} 

.breadcrumbs {
    background: var(--heiro-custom-light-orange)!important;
} 

.global-search-boxed-submit {
    background: var(--heiro-custom-light-orange)!important;
} 


/********** Docebo Top Bar END **********/










/********** Home Page 2024 START **********/

/********** Entire Page START **********/

#doc-page-43 .widget-render {
    background-color: white;
}

/********** Entire Page END **********/










/********** Nav Bar START **********/
#doc-page-43 {
   z-index: 2; 
}

#doc-page-43 .htmlwidget .content {
overflow-y: visible;
}

.bs-nav-bar {
margin: auto;
background-color: var(--heiro-custom-pink);
position: relative;
width: 100%;
height: 30px;
display: flex;
justify-content: center;
gap: 20px;
color: black;
text-align: center;
z-index: 1;
}

.bs-nav-bar a {
color: black;
text-decoration: none;
}

.bs-nav-bar .normal-link,
.bs-nav-bar .dropdown-title {
padding: 0 10px;
height: 30px; /*must be same as nav bar itself*/
}

.bs-nav-bar .normal-link,
.bs-nav-bar .dropdown-title,
.bs-dropdown a {
display: flex;
flex-direction: column;
justify-content: center;
}

.bs-nav-bar a:hover {
background-color: var(--heiro-custom-light-orange);
}

.dropdown-title {
position: relative;
}

.bs-dropdown {
position: absolute;
left: -5px;
top: 31px; 
display: none;
width: fit-content;
min-width: 100%;
background-color: var(--heiro-custom-pink);
}

.dropdown-title:hover .bs-dropdown {
display: block; 
}

.bs-nav-bar .bs-dropdown a {
min-height: 25px;
height: fit-content;
min-width: 100%;
width: fit-content;
text-decoration: none;
color: black;
box-sizing: border-box;
padding: 5px;
}
/********** Nav Bar END **********/









/********** Carousel START **********/
.container-bs43 {
    max-width: 100%;
    height: auto;
    padding-top: calc(20.83% - 30px);
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 0; 
}

.container-bs43  *:nth-last-child(2) {
    margin-right: 25px;
}

.container-bs43  input {
    z-index: 5;
    margin-bottom: 15px;
    visibility: hidden;
    position: relative;
    width: 15px;
    height: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
}

.container-bs43 input:before {
    content: '';
    position: absolute;
    visibility: visible;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.101);
    border: 3px solid white;
    border-radius: 50%;
   
}

.container-bs43  input:checked:before {
    background: var(--heiro-custom-orange);
    border-radius: 50%;
}

.container-bs43  input:checked+.slide {
    z-index: 2;
    opacity: 1;
    transition: opacity .5s ease;
}

.slide {
    opacity: 0;
    transition: opacity .5s ease;

}

.container-bs43 .slide img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/********** Carousel END **********/









/********** MCLP START **********/

#doc-page-43 .my-courses-and-learning-plans-content-wrapper .ui-cards-grid-wrapper {
    display: flex;
    position: relative;
    max-height: 330px;
    max-width: 1000px;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    padding: var(--ui-spacing-sm) 0;
}

/* Scrollbar */
#doc-page-43 .my-courses-and-learning-plans-content-wrapper .ui-cards-grid-wrapper::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

#doc-page-43 .my-courses-and-learning-plans-content-wrapper .ui-cards-grid-wrapper::-webkit-scrollbar-track {
    background: var(--heiro-custom-orange);
    border: 5px solid white;
}

#doc-page-43 .my-courses-and-learning-plans-content-wrapper .ui-cards-grid-wrapper::-webkit-scrollbar-thumb {
    background-color:  var(--heiro-custom-orange);
    border-radius: 10px;
}


#doc-page-43 .ui-cards-grid-slot {
    min-width: 250px;
}

#doc-page-43 .my-courses-and-learning-plans-total-count {
    display: none;
}

/********** MCLP END **********/










/********** Catalog START **********/

#doc-page-43 .ui-carousel-items-wrapper {
    display: flex;
    position: relative;
    max-height: 330px;
    max-width: 1000px;
    flex-direction: row;
    overflow-x: auto!important;
    overflow-y: hidden;
    padding: var(--ui-spacing-sm) 0;
}

/* Scrollbar  */
#doc-page-43 .ui-carousel-items-wrapper::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

#doc-page-43 .ui-carousel-items-wrapper::-webkit-scrollbar-track {
    background: var(--heiro-custom-orange);
    border: 5px solid white;
}

#doc-page-43 .ui-carousel-items-wrapper::-webkit-scrollbar-thumb {
    background-color:  var(--heiro-custom-orange);
    border-radius: 10px;
}



#doc-page-43 .dcb-ui-carousel-item {
    min-width: 250px;
}

#doc-page-43 .ui-carousel-header {
    display: none;
}

/********** Catalog END **********/









/********** Profile START **********/

/*** width setting ***/
#doc-page-43 .mdl-cell--4-col {
    width: 60%;
}

#doc-widget-304 {
    width: 515px;
    padding-left: 25px;
}

/*** color & structure ***/
#doc-page-43 .ng-star-inserted .profile {
   background-color: var(--heiro-custom-light-orange);
   display: flex; 
   gap: 30px; 

}

#doc-page-43 .details-container {
    color: black;
    padding: 20 20 0 50;
    font-size: 18px;
}


#doc-page-43 .widget-actions-container {
    background-color: var(--heiro-custom-light-orange);
    padding-bottom: 20px;
    border-top: hidden;
}

#doc-page-43 .mdl-button {
    border: 2px solid black;
    margin-right: 50px;
    
}

/*** Profile img size ***/
#doc-page-43 .avatar__initials {
    width: 100px!important;
    height: 100px!important;
    margin-top: 10px;
    background-image: url("https://cdn1.dcbstatic.com/files/m/e/megslms_docebosaas_com/userfiles/13088/Bahar Assests/mainimage1.png")!important;    
    background-size: 110px!important;
    
}

.avatar__initials .ng-star-inserted {
    visibility: hidden;
    
}
 
/********** Profile END **********/









/********** Activity Start **********/

#doc-widget-305 {
    
    .widget-activity  {
        min-height: 50px; 
        max-height: 70px;
    }
    
   .donut-chart-canvas-content {
       display: none;
   }

   .legend-title-holder {
       display: none;
   }
    .bullet-color {
        display: none;
    }
    
    .social-activities {
        display: none;
    }
    
    .donut-chart-item  {
        display: inline;
        padding: 10px 22px;
        margin-right: 30px;
        
    }
    
   .donut-chart-item:nth-child(1) {
            border: 2px solid var(--heiro-custom-pink-opacity);
    }
  .donut-chart-item:nth-child(2) {
            border: 2px solid var(--heiro-custom-light-orange);
    }
  .donut-chart-item:nth-child(3) {
            border: 2px solid var(--heiro-custom-light-purple);
    }

    .donut-chart-wrapper {
        justify-content: left;
        overflow: visible;
        padding-top: 50px;
    }
    
    .widget-body {
        padding-left: 0;
    }
    
    .widget-activity {
        box-shadow: none;
    }
    
    .widget-full {
        height: 100px;
    }
    
}

/********** Activity END **********/











/********** My Course Button Start **********/
    
#doc-widget-326 .btnpage23 {
       background-color: var(--heiro-custom-light-orange);
        border: 0;
        color: white;
        width: 540px!important;
        height: 50px!important;
        font-size: 20px;
        font-weight: bold;
    }
    
#doc-widget-326 .content {
        padding-left: 30px;
         
    }

/********** My Course Button END **********/









/********** Gamification start **********/
#doc-widget-325 .informational-content {
    display: none!important;
}

#doc-widget-325 .gamification-widget__wrapper {
    box-shadow: none;
}

#doc-widget-325 {
    padding-left: 30px;
    max-width: 100%;
}


#doc-widget-325 .ng-star-inserted {
    max-height: 200px;
}

.badges-tab__wrapper .list-badges-content {
    background-color: white;
}


.mdl-tabs__tab-bar a:hover {
      background-color: var(--heiro-custom-light-orange);

}

.tabs-header_element:nth-child(2) {
    background-color: white;
}
/********** Gamification END **********/










/********** Custom Buttons start **********/
.button-hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-top: 40px;
    margin-left: 30px;
}

.button-hero {
    padding: 30px;
    color: black;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    height: 80px!important;
    cursor: pointer;
}

#button1-hero {
    background-color: #FFA797;
    border-radius: 0 50px 0 0;
}

#button2-hero {
    background-color: #F0B3CE;
    border-radius:  0 0 0 50px;
}

#button3-hero {
    background-color: #F0B3CE;
    border-radius: 0 50px 0 0;
}

#button4-hero {
    background-color: #FFA797;
    border-radius: 0 0 50px 0;
}

.button-hero p {
    margin: 0;
    font-size: 14px!important;
}

.button-hero strong {
    font-weight: bold;
} 

/********** Custom Buttons END **********/









/********** Our Mission Widget start **********/
.mission-section {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    max-width: 410px;
    text-align: left;
    margin-top: 35px;
}

.mission-section h2 {
    font-size: 20px!important;
    font-weight: bold!important;
    margin-bottom: 10px;
}

.mission-section p {
    font-size: 16px!important;
    color: #333;
    margin-bottom: 20px;
    line-height: 1.7!important;
}

.mission-section a {
    color: #000;
    text-decoration: linear;
    font-weight: bold;
}

.mission-section .buttons-hero {
    display: flex;
    justify-content: space-between;
}

.button-hero2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 4px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.button-hero2 img {
    margin-right: 10px;
}

.donate-button {
    background-color: #fff;
}
     
/********** Our Mission Widget END **********/









/********** Youtube Video Start **********/
#widget2 {
    height: 290px!important;
    margin-top: 30px;
} 

#doc-widget-333 {
    margin-right: 20px;
    margin-top: 10px;
}
/********** Youtube Video END **********/









/********** Calendar Start **********/

#doc-page-43 .bg-main {
    background-color: #EB816D!important;
} 

#doc-page-43 .calendar-header-control {
    border: none!important;
} 

#doc-page-43 .calendar-arrow {
    border: none!important;
} 

#doc-page-43 .export-show-button {
    border: none!important;
}

#doc-page-43 .cal-month-view .cal-cell-row {
    background-color: #FFA797!important;
} 

.widget-my-calendar {
    margin-right: 40px;
}
/********** Calendar END **********/







/********** Footer Start **********/
.footer-hero {
    width: 100%;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
    position: ;
    bottom: 0;
    margin: 0px!important;
}

.footer-hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}

.footer-hero-left,
.footer-hero-center,
.footer-hero-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-hero-logo {
    max-height: 100px;
    margin-right: 80px;
}

.newsletter-button {
    background-color: #EB816D;
    color: #000;
    padding: 10px 80px;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
}

.newsletter-button:hover {
    background-color: #FFA797;
}

.footer-hero-right a {
    margin: 0 30px;
}

.footer-hero-right img {
    width: 50px;
    height: 40px;
}

.footer-hero-bottom {
    font-size: 18px!important;
}

#doc-layout-footer {
    display: none!important;
}

.widget-render-column #doc-widget-335 {
    margin-bottom: 0px!important;
}
/********** Footer END **********/

/********** GuyKat CSS END **********/






